@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Aracaju,Sergipe
</address>

<address>
    <strong>Email:</strong> <a href="mailto:santosfranciscosouza310@gmail.com">santosfranciscosouza310@gmail.com</a>
</address>
